/target/
/stdout-sic-payment-preferences-test.log
/stdout-sic-payment-preferences-test.log.1
/stdout-sic-payment-preferences-test.log.2
/stdout-sic-payment-preferences-test.log.3
/stdout-sic-payment-preferences-test.log.4
/stdout-sic-payment-preferences-test.log.5
/stdout-sic-payment-preferences-test.log.6
/stdout-sic-payment-preferences-test.log.7
