.label {
    margin-right: 10px;
}

.details {
    display: flex;
    align-items: baseline;
    margin-right: 5%;
    margin-left: 5%;
}

.flex-item {
    flex: 2 1 auto;
}

.flex-toggle {
    flex: initial;
}
