mat-icon {
  margin-right: 10px;
  font-size: 1.5em;
}

mat-checkbox {
  margin-right: 9px;
}
.subtitles {
  padding-left: 15px;
}


.small-chip {
  padding: 4px 8px;
  font-size: 11px;
  line-height: 16px;
}
