mat-form-field {
  width: 100%;
}

.option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  > span:first-child {
    width: 75%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

}

.isRed {
  color: red;
}
