 <div class="flex h-full">
  <div class="w-1/3 p-1 pt-[10%] h-full">
    <mat-card class="card-background-af-color h-1/2 text-center items-center pt-[25%] cursor-pointer font-bold" [routerLink]="['./af']">
      <mat-card-content class="text-4xl">AF</mat-card-content>
    </mat-card>
  </div>
  <div class="w-1/3 p-1 pt-[10%] h-full">
    <mat-card class="card-background-kl-color h-1/2 text-center items-center pt-[25%] cursor-pointer font-bold" [routerLink]="['./kl']">
      <mat-card-content class="text-4xl">KL</mat-card-content>
    </mat-card>
  </div>
  <div class="w-1/3 p-1 pt-[10%] h-full">
    <a href="https://afklm.atlassian.net/wiki/spaces/repind/pages/295673027/26.+Sharepoint+User+guide">
      <mat-card class="card-background-user-guide-color h-1/2 text-center pt-[25%] font-bold ">
        <mat-card-content class="text-4xl">{{'USER-GUIDE' | translate}}</mat-card-content>
      </mat-card>
    </a>
  </div>
</div>
