.mat-h4,
.mat-subheading-2 {
  margin: 0;
}

mat-radio-button {
  margin: 3px 0;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
}

.radio-btn-and-counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
