<mat-toolbar mat-dialog-title color="primary">
    <app-dialog-toolbar [title]="data.title"></app-dialog-toolbar>
</mat-toolbar>
<mat-dialog-content mat-dialog-content>
    <div class="centered-form">
        <app-dynamic-form #form [fields]="config" (onFormChange)="handleChange($event)"></app-dynamic-form>
    </div>
</mat-dialog-content>
<mat-dialog-actions mat-dialog-actions>
    <div class="action-btn">
        <button mat-stroked-button color="warn" mat-dialog-close>
            <span>{{ 'CANCEL' | translate }}</span>
        </button>
    </div>
    <div class="action-btn">
        <button mat-stroked-button color="primary" [disabled]="!isReadyToUpdate" (click)="updateConsent()">
            <span>{{ 'CONFIRM' | translate }}</span>
        </button>
    </div>
</mat-dialog-actions>