@import '../../../../assets/scss/customized-palettes-and-colors.scss';

mat-card {
  padding: 0;
  width:100%;
}

.status-chip-list {
  position: absolute;
  top: 1vh;
  left: 1vw;
}

.status-chip {
  border: solid;
  border-width: 1.25px;
  border-radius: 5px;
}

.card-header {
  display: flex;
  width:100%;
  flex-direction: column;
  align-items: center;
}

.additional-info-chip-list {
  margin-bottom: 12px;
  width:100%;
}

.add-info-chip-list-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width:100%;
}

.profile-icon {
  font-size: 72px;
  margin: 1vh 0;
}

.mat-title {
  margin: 0;
}

.card-content {
  display: flex;
  width:100%;
  flex-direction: row;
  justify-content: space-around;
  padding: 12px 0px 12px 0px;
}

.card-content-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.additional-info-chip {
  border: solid;
  border-width: 1.5px;
  background: aliceblue;
  padding: 0 3vw;
  margin: 0 1vw;
}

.copy-able-content {
  cursor: pointer;
}

.copy-able-content:hover {
  text-decoration: underline;
}

.action-buttons {
  position: absolute;
  top: 0;
  right: 0;
}
