.title-in-merge {
  margin-bottom: 10px !important;
  font-size: 18px;
  font-weight: bold;
}

app-individual-merge-details-individual {
  height: 100%;
}

.merge-title {
  margin-bottom: 0px;
}

.merge-title-search {
  margin-bottom: 0px !important;
}

.title-individual-source {
  font-size: 16px;
  font-weight: bold;
}

.mergeButton {
  margin-bottom:20px;
}

.title-individual-target {
  font-size: 16px;
  font-weight: bold;
}

.back-button {
  position: fixed;
  z-index: 2;
  bottom: 5vh;
  right: 2vw;
}
