<mat-form-field [formGroup]="group" appearance="outline" [hidden]="field.isHidden">
  <mat-label>{{ field.label | translate }}</mat-label>
  <input matInput #input [formControlName]="field.name" placeholder="{{ field.placeholder | translate }}"
    [type]="field.inputType" [required]="isRequired" [maxlength]="maxLength" appAutoFocus [autoFocus]="field.autofocus"
    appUpperCase [uppercase]="field.uppercase">
  <ng-container *ngFor="let validation of field.validations;" ngProjectAs="mat-error">
    <mat-error *ngIf="group.get(field.name).hasError(validation.name)">{{ validation.message | translate }}
    </mat-error>
  </ng-container>
</mat-form-field>