<div class="div-input-search bg-primary-500 text-white" appClickOutside style="width:100%" (clickOutside)="onClickedOutside($event)">
  <div [hidden]="searchVisible" >
    <span class="input-icon-search" (click)="displaySearch()">
        <i class="material-icons">
          search
        </i>
      </span>
  </div>
  <div [hidden]="!searchVisible">
      <mat-form-field class="input-search" >
        <input matInput class="search-input-type" #input [(ngModel)]="columnName" (keydown)="checkIfEnterKeyWasPressed($event)" (ngModelChange)="sendToParentComponent()">
        <button [ngClass]="!columnName ? 'hide' : ''" matSuffix mat-button (click)="columnName='';sendToParentComponent()">
            <mat-icon>close</mat-icon>
          </button>
      </mat-form-field>
    </div>
  </div>
