<mat-toolbar mat-dialog-title color="primary">
  <app-dialog-toolbar title="UPDATE"></app-dialog-toolbar>
</mat-toolbar>
<mat-dialog-content mat-dialog-content>
  <mat-horizontal-stepper #stepper>
    <mat-step>
      <ng-template matStepLabel>{{ 'IDENTIFICATION' | translate }}</ng-template>
      <div class="step-content">
        <app-individual-update-form #identification *ngIf="individual" [individual]="individual">
        </app-individual-update-form>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>{{ 'PROFILE' | translate }}</ng-template>
      <div class="step-content">
        <app-individual-profile-update-form #profile *ngIf="individual" [individual]="individual">
        </app-individual-profile-update-form>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>{{ 'CONFIRMATION' | translate }}</ng-template>
      <div class="step-content">
          <button mat-raised-button color="primary" class="confirmation-button" (click)="confirmUpdate()">
            <span class="mat-title">{{ 'CONFIRM-UPDATE' | translate }}</span>
          </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-dialog-content>
<mat-dialog-actions>
  <app-stepper-controller [stepper]="stepper" [steps]="nbOfSteps"></app-stepper-controller>
</mat-dialog-actions>
