<mat-toolbar mat-dialog-title color="primary">
  <app-dialog-toolbar [title]="data.title"></app-dialog-toolbar>
</mat-toolbar>
<mat-dialog-content mat-dialog-content>
  <mat-horizontal-stepper #stepper>
    <mat-step>
      <ng-template matStepLabel>{{ 'ADDRESS-INFORMATION' | translate }}</ng-template>
      <div class="step-content">
        <app-addr-details-form #detailsForm [address]="address"></app-addr-details-form>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>{{ 'COMPLEMENTARY-DATA' | translate }}</ng-template>
      <div class="step-content">
        <app-addr-complementary-form #cpltForm [address]="address"></app-addr-complementary-form>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>{{ 'GENERAL-INFORMATION' | translate }}</ng-template>
      <div class="step-content">
        <app-resource-general-info-form #genInfoForm [resource]="address"></app-resource-general-info-form>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>{{ 'CONFIRMATION' | translate }}</ng-template>
      <div class="step-content">
        <app-addr-confirmation-step #confirmationStep [isUpdate]="data.isUpdate" [btnLabel]="data.validationBtnLabel"
          (update)="updateAddress()" (create)="createAddress()" (check)="checkAddressData()" (force)="forceChanges()">
        </app-addr-confirmation-step>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-dialog-content>
<mat-dialog-actions mat-dialog-actions>
  <app-stepper-controller [stepper]="stepper" [steps]="numberOfSteps"></app-stepper-controller>
</mat-dialog-actions>
