.card-quick-access {
  width: 80%;
  height: 50%;
}

.card-quick-access > a {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}

.home-icons {
  text-align: center;
}

.mat-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-margin-bottom {
  margin-bottom: 0px;
}

div[fxLayout] {
    margin-top: 20px;
}

mat-card-title > mat-icon {
    font-size: 6em;
}
