.snackbar-content {
  display: flex;
  flex-direction: row;
  padding: 12px;
}

.mat-icon.error-icon {
  margin-right: 10px;
}

p {
  text-align: center;
  margin: 2px;
  font-size: 15px;
  color: white;
  margin-left: 12px;
  margin-right: 35px;
}

.mat-icon-button {
  margin-top: -5px;
  margin-left: 25px;
  position: absolute;
  right: 10px;
  top: 8px;
  color: white;
}

.copy {
  cursor: pointer;
  color: white;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}
