.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25vh;
}

.home {
    margin-top: 30px;
    font-size: 5em;
    height: auto;
    width: auto;
  }