###### GIT IGNORE FOR SIC METIER ######
*.com
*.class
*.dll
*.exe
*.so
*.o
.cproject
*~
.nbattrs
*.out
obj/
build/
bin/
*.depend
*.log
*.sqllite
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip
.classpath
.project
.settings/
target/
SelectMany/API/src/dynamicsql.lis
.vscode
.idea
*.iml
sic-metier-root.iml