form > div > mat-form-field {
  width: 100%;
}

form > div {
  width:50%;
}

form > div > div {
  width: 100%;
  text-align: center;
}

form > div > div > h4.mat-h4 {
  margin: 0px;
}

form > div > div > mat-slide-toggle + h4.mat-h4 {
  color: #00a1de;
}
