@charset "UTF-8";

/* -----------------------------------------------------------------
  Initialize the Ping Federate Habile CSS
 ----------------------------------------------------------------- */
/* This file creates the font faces for AirFrance/KLM brand. */
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
}

.overlay {
  background-color: rgba(1, 1, 1, 0.3);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  pointer-events: none;
}

.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}

.iti-flag {background-image: url("../img/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti-flag {background-image: url("../flags@2x.png");}
}

.intl-tel-input {
  width: 100%;
  height: 40px;
}

.mfa-sms-input {
  cursor: pointer;
  height: 40px;
  box-sizing: border-box;
  display: block;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.87);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
  outline: none;
  width: 100%;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
  font-size: 16px;
  font-family: Montserrat, 'Helvetica Neue', sans-serif;
  line-height: inherit;
  background-image: none;
}

.mfa-sms-input:focus {
  background-color: rgba(0, 0, 0, 0.03);
  border-color: #0700b9;
  border-width: 2px;
}

.mfa-sms-input::placeholder {
  color: #ddd;
  opacity: 0.9; /* Firefox */
}

.hbl-textfield {
  display: block;
}

.hbl-text-list {
  margin: 10px 0px 10px 0px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 20px;
  letter-spacing: normal;
  color: #051039;
}

.hbl-tabs-panel {
  margin: -20px -35.5px 0px -35.5px;
}

.hbl-auth-method-tab {
  width: 100%;
}

.hbl-table-title {
  cursor: pointer;
  margin: 0px;
  padding: 14px 0px 14px 0px;
}

.mui-textfield > input {
  padding-left: 16px;
}

.mui-textfield > input:invalid:not(:focus):required.mui--is-empty.mui--is-touched {
  height: 38px;
}

.mui-textfield > input:focus {
  padding-top: 18px;
  height: 53px;
  margin-top: -15px;
  margin-bottom: 0px;
}

.mui-textfield {
  background-color: #F6F5F5;
  border-radius: 3px 3px 0 0;
}

.overlay .mui-textfield {
  background: none !important;
}
.overlay .hb-panel-info {
  background-color: rgba(199, 231, 250, 0.2) !important;
}
.overlay .hbl-pwd-info-panel {
  background-color: rgba(248, 234, 182, 0.2) !important;
}
.overlay .mui-tabs-inactive__bar {
  border-bottom: none !important;
}


.mui-btn {
  border-radius: 3px;
}

.mui-btn:disabled, .mui-btn.mui--is-disabled {
  background-color: #767676;
  font-weight: 600;
}

.mui--line-height-20 {
  line-height: 20px;
}

.mui-checkbox > label > input[type="checkbox"] {
  margin-top: 6px;
  width: 18px;
  border-radius: 0px;
  height: 18px;
  cursor: pointer;
}

.color-white {
  color: white !important;
}

body {
  font-family: Montserrat, 'Helvetica Neue', sans-serif !important;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  word-wrap: break-word;
  height: 100%;
}
#content-wrapper {
  min-height: 99%;
  box-sizing: border-box;
}

header {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

MuiThemeProvider {
  position: relative;
  float: left;
  width: 100%;
  height: calc(100% - 120px);
}

/**
* Footer CSS
*/
footer {
  box-sizing: border-box;
  color: #828180;
  align-items: center;
  /* background-color: white; */
  left: 0;
  bottom: 0;
  width: 100%;
  display: block;
}

strong {
  font-weight: 600;
}

a,
a:hover,
a:focus {
  color: #0700b9;
  text-decoration: none;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

a:hover,
a:focus {
  text-decoration: underline;
}

h1,
h2 {
  margin-top: 10px;
  font-size: 38px;
  font-weight: 100;
  color: #555;
  line-height: 50px;
}

h3 {
  color: #555;
  line-height: 30px;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  margin-top: 10px;
}

ul > li > h4 {
  font-weight: bold;
  font-size: 15px;
  font-family: Montserrat, 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
}

.qr--code > div > img {
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
}

::-moz-selection {
  background: #19b9e7;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #19b9e7;
  color: #fff;
  text-shadow: none;
}

/***** Media queries *****/

@media (max-width: 415px) {
  h1,
  h2 {
    font-size: 32px;
  }
}

.translate img,
object {
  max-height: 100%;
  max-width: 100%;
}

.ping-messages {
  display: block;
  margin-top: -15px;
  margin-left: 16px;
  font-size: 14px;
  text-align: left;
}

.ping-messages.ping-nopad {
  margin: 0;
}

.ping-messages > div {
  display: block;
  margin: 10px 0 0 0;
}

.ping-messages > div:first-child {
  margin: 0;
}

div.ping-error {
  color: #d22c4c;
  word-wrap: break-word;
  line-height: 20px;
  margin-top: -15px;
  margin-left: 16px;
  font-size: 14px;
}

.ping-otp-error {
  position: fixed;
  color: #d22c4c;
  display: contents;
}

.ping-messages > div.center {
  text-align: center;
  color: #929aa1;
}

ping-warning {
  color: #ffa800;
  word-wrap: break-word;
  line-height: 20px;
  margin-top: -15px;
  /* padding-left: 1px; */
  font-size: 14px;
}

.ping-warning > div.center {
  text-align: center;
  color: #929aa1;
}

/**
 * Body CSS
 */
html,
body {
  height: 100%;
  min-width: 250px;
}

html,
body,
input,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
input[type="password"] {
  font: small-caption;
  font-size: 20px;
}


INPUT:not([type="radio"]):not([type="checkbox"]) ~ LABEL {
  color: rgba(0, 0, 0, 0.87);
  padding-left: 16px;
  padding-bottom: 0.5px;
  line-height: initial;
}

INPUT:not([type="radio"]):not([type="checkbox"]):focus ~ LABEL {
  color: #0700b9;
  background-color: transparent;
}

INPUT:not([type="radio"]):not([type="checkbox"]):invalid ~ LABEL {
  color: #d22c4c;
}

INPUT:not([type="radio"]):not([type="checkbox"]) ~ LABEL {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mui-textfield > input:focus:invalid ~ label {
    color: #d22c4c;
}

.mui-textfield > input:focus:invalid {
  border-color: #d22c4c;
}

/**
  * Header CSS
  */

header ul.mui-list--inline {
  margin-bottom: 0;
}

.habile-header-lang-chevron {
  cursor: pointer;
  width: 8px;
  height: 14px;
  margin-left: 5px;
  transform: rotate(-270deg);
}

.habile-header-lang-chevron-open {
  transform: rotate(270deg);
}

.habile-change-user-chevron {
  cursor: pointer;
  width: 20px;
  height: 11px;
  margin-bottom: -1px;
}

.mui-tabs__bar > li.mui--is-active {
  background: none !important;
  color: #0700b9 !important;
  font-weight: 600;
  -moz-box-shadow:    none !important;
  -webkit-box-shadow: none !important;
  box-shadow:         none !important;
}

.mui-tabs__bar > li.mui--is-active {
  border-bottom: none !important;
}

.mui-tabs-inactive__bar:focus {
  outline: none;
}
.mui--is-active:focus {
  outline: none;
}
.mui--is-active {
  transition: all 0.3s linear;
}

.mui-tabs__bar.mui-tabs__bar--justified > li {
  background-color: #cdcece;
  color: #383838;
  opacity: 0.8;
  font-weight: 500;
  -moz-box-shadow:    inset 1px -3px 3px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 1px -3px 3px 0 rgba(0, 0, 0, 0.25);
  box-shadow:         inset 1px -3px 3px 0 rgba(0, 0, 0, 0.25);
}
.mui-tabs__bar.mui-tabs__bar--justified > li:hover {
  background-color: #d7d7d7;
}

.mui-btn-break-word {
  white-space: normal;
  word-wrap: break-word;
  height: auto;
  line-height: 18px;
}

.mui-btn.mui-btn--flat:hover,
.mui-btn.mui-btn--flat:focus,
.mui-btn.mui-btn--flat:active {
  background-color: #f6f5f5 !important;
}

.mui--bg-primary-grey {
  background-color: #f4f7f9;
}

header a {
  color: white;
}

header table {
  width: 100%;
}

.habile-link {
  cursor: pointer;
  height: 24px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #051039;
  margin-top: -20px;
}

.habile-header-title {
  width: 100% !important;
  color: #d22c4c;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.08;
  margin-bottom: 20px;
}

.habile-header-subtitle {
  color: #d22c4c;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.08;
  margin-left: 20px;
  margin-bottom: 20px;
}
/**
* Content CSS
*/

.hb-ping-id-new-info {
  position: absolute;
  margin: -5px 0px 0px -97px;
  font-size: 10px;
  font-weight: bold;
  height: 13px;
  line-height: 14px;
  padding: 0px 2px 0px 2px;
  color: #0700b9;
}

@media (max-width: 679px) {
  .hb-ping-id-new-info {
    margin-left: -84px;
  }
}

/**
  * Disclaimer CSS
  */
#disclaimer-modal-template-id {
  display: none;
}

#disclaimer-modal-template {
  width: 100%;
  height: 100%;
  text-align: center;

  padding: 38px;
  background-color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

/**
* SPINNER CSS
*/
#spinnerTemplateId {
  display: none;
}

#spinnerTemplate {
  height: 100%;
  width: 100%;
}

/**
* ONBOARDING FLOW MFA CSS
*/
#onboarding-flow-mfa-id {
  display: none;
}

#onboarding-flow-mfa-modal {
  width: 80%;
  max-width: 500px;
}

.onboarding-flow-mfa-template {
  text-align: center;
  min-height: 385px;
  background-color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 38px;
}

.onboarding-flow-mfa-cross {
  float: right;
  margin: -10px -10px 0px 0px;
  cursor: pointer;
}

.onboarding-flow-mfa-title {
  width: 441px;
  height: 43.2px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.8;
  letter-spacing: normal;
  text-align: center;
  color: #0700b9;
}

.onboarding-flow-mfa-content {
  width: 440px;
  height: 48px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #051039;
}

.onboarding-flow-mfa-btn {
  width: 220px;
  height: 18px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.onboarding-flow-modal-panel {
  margin-top: 145px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 480px) {
  .onboarding-flow-modal-panel {
    margin-top: 119px  !important;
    margin-left: 4%  !important;
    width: 92%  !important;
  }
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none; 
  border-radius: 50%;
  display: inline-block;
}

/* Mark the active step: */
.step.active {
  background-color: #0700b9;
}

.hbl-login-title {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
}

.color-dark-blue {
  color: #051039 !important;
}

.hb-text {
  font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

.hb-link {
  height: 18px;
  font-family: Montserrat, 'Helvetica Neue', sans-serif;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #383838;
  margin: 0px 15px 0px 15px;
}


.habile-header-logo {
  position: absolute;
  width: 200px;
  height: 56px;
  top: 10px;
  left: 25px;
  /* left: calc(50% - 117px); */
  background-repeat: no-repeat;
}

.habile-header-lang {
  top: 5px !important;
  right: 0px !important;
  position: absolute !important;
  background-color: transparent !important;
  color: white !important;
}

.habile-separator {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.21);
  background-image: linear-gradient(to right, #0800b9, #00a1de);
  max-height: 75px !important;
}

.hbl-header-env {
  position: absolute;
  top: 0px;
  left: 220px;
  font-size: 22px;
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  align-self: flex-end;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: Montserrat, 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  font-weight: bold !important;
  padding-top: 4px;
  padding-left: 10px;
}

/* @media (max-width: 400px) {
  .hbl-header-env {
    left: 190px !important;
  }
} */

@media (max-width: 350px) {
  .mui--hidden-xxs {
    display: none !important;
  }
  .habile-header-subtitle {
    font-size: 18px;
    margin-left: 10px;
  }
  .habile-header-title {
    font-size: 26px;
  }
}
@media (max-width: 400px) {
  .habile-header-logo {
    top: 0px;
  }

  .habile-header-logo img {
    padding-top: 10px;
    width: 200px;
  }

  .hbl-header-env {
    left: -30px !important;
    top: 28px;
  }
}

.hb-text-list {
  font-size: 13px;
  line-height: 16px;
  font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

.hb-new-logo {
  position: absolute;
  margin-top: -15px;
}

.hb-text-copy {
  width: 100%;
  display: inline-block;
  margin-bottom: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.hb-text-copy-logo {
  font-size: 20px;
  padding: 0px;
  margin: 0px 0px 0px 0px;
  background: transparent;
  color: black;
}

.hl-mfa-panel {
  display: block;
  align-items: center;
  justify-content: center;
  background: none;
  padding: 20px 35px 30px 35px;
}

@media (max-width: 480px) {
  .hl-mfa-panel {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
  .hbl-tabs-panel {
    margin: -20px -20.5px 0px -20.5px;
  }
  .mui--tabs-responsiv {
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
    font-size: 12px !important;
    line-height: 14px;
    white-space: normal;
    word-wrap: break-word;
    max-height: 20px;
  }
}

.hb-pwd-eye {
  position: absolute;
  width: 22px;
  right: 10px;
  margin-top: -35px;
  color: #828180;
  cursor: pointer;
}

.hb-pwd-eye:hover {
  color: #0700b9;
}

.hb-text-primary {
  color: #0700b9;
}

.hbl-tab-title {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #0700b9;
}

.hbl-pwd-info-panel {
  position: relative;
  float: left;
  width: 100%;
  margin: 10px 0px 25px 0px;
  box-shadow: none;
  min-height: 65px;
  background-color: rgba(248, 234, 182, 0.5);
  line-height: 1.5;
  padding: 20px 0px 20px 0px;
}

.hb-panel-info {
  background-color: #c7e7fa;
  width: 100%;
  text-align: justify;
}

.hb-checkbox {
  float: left;
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin-top: 0px;
}

.hb-checkbox-ok {
  width: 15px;
  height: 15px;
  margin-top: -25px;
  float: left;
}

@media (min-width: 831px) {
  .hbl-btn-right {
    width: 48%;
    margin-right: 2%;
  }
  
  .hbl-btn-left {
    width: 48%;
    margin-left: 2%;
  }
}

.display-flex {
  display: flex !important;
  align-items: center;
  flex-flow: row wrap;
}

.display-flex--start {
  align-self: flex-start;
}

.display-flex--bottom {
  align-self: flex-end;
}

.display-none {
  display: none;
}

.background-color-none {
  background: none !important;
}

.background-color-none .mui-btn.mui-btn--flat:active {
  background: none !important;
}

.background-color-none .mui-btn.mui-btn--flat:focus {
  background: none !important;
}

.background-color-none .mui-btn.mui-btn--flat:hover {
  background: none !important;
}

.background-color-none .mui-dropdown__menu > li > a:active {
  background-color: #c7e9fa !important;
}

.background-color-none .mui-dropdown__menu > li > a:focus {
  background-color: #c7e9fa !important;
}

.background-color-none .mui-dropdown__menu > li > a:hover {
  background-color: #c7e9fa !important;
}

.text-overflow-ellipsis {
  text-overflow: ellipsis;
}

.position-absolute {
  position: absolute;
}

.align-self-center {
  align-self: center;
}

.line-height-18 {
  line-height: 18px;
}

.line-height-22 {
  line-height: 22px;
}

.height-60-percent {
  height: 60%;
}
.height-75-percent {
  height: 75%;
}
.height-80-percent {
  height: 80%;
}
.height-85-percent {
  height: 85%;
}
.height-90-percent {
  height: 90%;
}
.height-94-percent {
  height: 94%;
}
.height-100-percent {
  height: 100%;
}
.height-190 {
  height: 190px;
}
.height-238 {
  height: 238px;
}

.width-auto {
  width: auto !important;
} 

.width-50 {
  width: 50px;
} 

.max-width-50 {
  max-width: 50px;
}

.width-40 {
  width: 40px;
} 

.max-width-40 {
  max-width: 40px;
}

.width-25-percent {
  width: 25%;
}
.width-33-percent {
  width: 33%;
}
.width-50-percent {
  width: 50%;
}
.width-100-percent {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer !important;
}

.max-width-450 {
  max-width: 450px;
}

.min-height-75 {
  min-height: 75px;
}
.min-height-100 {
  min-height: 100px;
}
.min-height-160 {
  min-height: 160px;
}
.min-height-165 {
  min-height: 165px;
}
.min-height-170 {
  min-height: 170px;
}
.min-height-180 {
  min-height: 180px;
}
.min-height-190 {
  min-height: 190px;
}
.min-height-200 {
  min-height: 200px;
}
.min-height-205 {
  min-height: 205px;
}
.min-height-210 {
  min-height: 210px;
}
.min-height-220 {
  min-height: 220px;
}
.min-height-250 {
  min-height: 250px;
}
.min-height-305 {
  min-height: 305px;
}
.min-height-360 {
  min-height: 360px;
}
.min-height-435 {
  min-height: 435px;
}
.height-250 {
  height: 250px;
}
.height-360 {
  height: 360px;
}
.min-height-260 {
  min-height: 260px;
}
.min-height-290 {
  min-height: 290px;
}
.min-height-300 {
  min-height: 300px;
}
.max-height-380 {
  max-height: 380px;
}
.max-height-440 {
  max-height: 440px;
}

.margin--15 {
  margin: -15px;
}

.margin-right--30p {
  margin-right: -30%;
}

.margin-right--20p {
  margin-right: -20%;
}

.margin-left--30p {
  margin-left: -30%;
}

.margin-left--20p {
  margin-left: -20%;
}

.margin-top--50 {
  margin-top: -50px;
}
.margin-top--40 {
  margin-top: -40px;
}
.margin-top--30 {
  margin-top: -30px;
}
.margin-top--25 {
  margin-top: -25px;
}
.margin-top--20 {
  margin-top: -20px;
}
.margin-top--15 {
  margin-top: -15px;
}
.margin-top--10 {
  margin-top: -10px;
}
.margin-top--6 {
  margin-top: -6px;
}
.margin-top--2 {
  margin-top: -2px;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-20 {
  margin-top: 20px !important;
}
.margin-top-30 {
  margin-top: 30px;
}
.margin-top-40 {
  margin-top: 40px;
}
.margin-top-70 {
  margin-top: 70px !important;
}

.margin-bottom--50 {
  margin-bottom: -50px;
}
.margin-bottom--15 {
  margin-bottom: -15px;
}
.margin-bottom--10 {
  margin-bottom: -10px;
}
.margin-bottom--8 {
  margin-bottom: -8px;
}
.margin-bottom--6 {
  margin-bottom: -6px;
}
.margin-bottom--5 {
  margin-bottom: -5px;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}
.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-left-auto {
  margin-left: auto;
}
.margin-right-auto {
  margin-right: auto;
}
.margin-right--30 {
  margin-right: -30px;
}
.margin-right--15 {
  margin-right: -15px;
}
.margin-right-10 {
  margin-right: 10px;
}
.margin-right-16 {
  margin-right: 16px;
}

.margin-left--50 {
  margin-left: -50px;
}
.margin-left--30 {
  margin-left: -30px;
}
.margin-left--24 {
  margin-left: -24px;
}
.margin-left--5 {
  margin-left: -5px;
}

.margin-left-10 {
  margin-left: 10px;
}
.margin-left-16 {
  margin-left: 16px;
}
.padding-right-5 {
  padding-right: 5px;
}

.padding-left-5 {
  padding-left: 5px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-tp-20px {
  padding-top: 20px;
}

.padding-15 {
  padding: 15px;
}

.min-height-45 {
  min-height: 45px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

/* Float */
.clear-float {
  clear: both;
}

.float-left {
  float: left;
}

.ldBar-label {
   display: none;
}

/* HELP */
.habile-help-head {
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.16;
  letter-spacing: normal;
  color: #0700b9;
}

.habile-help-title {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.16;
  letter-spacing: normal;
  color: #0700b9;
  margin-top: 30px;
  margin-bottom: 0px;
}

.habile-help-sub-title {
  width: 96%;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #051039;
  line-height: 22px;
  margin-top: 2px;
}

.habile-help-content {
  cursor: pointer;
  /* margin: 10px 0px 10px 0px; */
  padding: 6px 0px 6px 0px;
  min-height: 40px;
  line-height: 38px;
}

.habile-header-help-chevron {
  width: 15px;
  height: 15px;
  margin: -2px -1px 0px 0px;
  transform: rotate(180deg);
}

.habile-help-sub-title-chevron {
  cursor: pointer;
  float: right;
  margin-top: 2px;
  width: 14px;
  height: 20px;
  transform: rotate(90deg);
  margin-right: -3%;
}

.habile-help-sub-title-chevron-open {
  transform: rotate(270deg);
}

.habile-help-sub-content {
  max-height: 0px;
  padding-right: 32px;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #051039;
  overflow: hidden;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
  -o-transition: max-height 0.5s;
  -ms-transition: max-height 0.5s;
  transition: max-height 0.5s;
}

.habile-help-sub-content-active {
  max-height: 200px;
  
    /* -webkit-transition: margin-top 0.5s;
    -moz-transition: margin-top 0.5s;
  -o-transition: margin-top 0.5s;
  -ms-transition: margin-top 0.5s; */
  
    /* -webkit-transition: margin-bottom 0.5s;
    -moz-transition: margin-bottom 0.5s;
  -o-transition: margin-bottom 0.5s;
  -ms-transition: margin-bottom 0.5s; */
}

.habile-help-contact-line {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #051039;
}

/* ******************* NUX STEPPER - BEGIN ******************* */
.hbl-mfa-enroll-stepper {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
  height: 50px;
}
.progressbar {
  margin: 0px 0px 0px 0px;
  counter-reset: step;
}
.progressbar li {
  list-style-type: none;
  width: 34.5%;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  color: #7d7d7d;
}
.progress-bar-margin-left {
  margin-left: -21.9%;
}
.progress-bar-margin-right {
  margin-right: -21.9%;
}

.progressbar li:before {
  width: 4px;
  height: 4px;
  /* content: counter(step); */
  content: '';
  counter-increment: step;
  line-height: 20px;
  border: 2px solid #828180;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: #828180;
}
.progressbar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #7d7d7d;
  top: 3px;
  left: -50%;
  z-index: -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active:before {
  width: 6px;
  height: 6px;
  border: 7px solid black;
  background-color: white;
  margin-top: -5px;
}
.progressbar li.active {
  font-weight: 900;
}
.progressbar li.previous:before {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 2px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  border: none;
  background-color: black;
  line-height: 19px;
  font-size: 15px;
  margin-top: -5px;
}
.progressbar li.previous {
  font-weight: 900;
}

/* ******************* NUX STEPPER - END ******************* */