<mat-dialog-content>
  <form [formGroup]="formGroup">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'RESOURCE-TYPE' | translate }}</mat-label>
      <mat-select [formControl]="typeCtrl" required>
        <mat-option *ngFor="let resource of resources" [value]="resource.type" [disabled]="!resource.isCreatable">
          {{ resource.label | translate }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="typeCtrl.hasError('required')">
        {{ 'FIELD-REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="primary" (click)="cancel()">{{ 'CANCEL' | translate }}</button>
  <button mat-raised-button color="primary" [disabled]="!formGroup.valid"
    (click)="openCreateDialog()">{{ 'CREATE' | translate }}</button>
</mat-dialog-actions>
