<div class="dialog-header">
  <span class="mat-h2">{{ 'ERROR-LABEL' | translate | uppercase }}</span>
  <span class="mat-body">{{ 'NO-RESOURCES-FOUND' | translate }}</span>
</div>
<div class="dialog-actions">
  <button mat-button (click)="close()">{{ 'CLOSE' | translate | uppercase }}</button>
  <button *hasPermission="['P_RIGUI_SUPERADMIN']" mat-button color="primary" (click)="create()"
    [disabled]="!isCreatable">
    <span>{{ 'CREATE-ACTION' | translate | uppercase }}</span>
  </button>
</div>
